#password_container {
    width: 100%;
    min-height: 55px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-container-bg);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
}

#password_container.show {
    display: flex;
}

#password {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 0.75rem;
    text-align: left;
    color: var(--color-text-primary);
}