.main-logo {
    display: block;
    width: 100px;
    max-width: 100%;
    height: auto;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 601px) { .main-logo { width: 120px; } }
@media (min-width: 900px) { .main-logo { width: 140px; margin-bottom: 1rem;} }